.lp-kozuka-gothic-pr6n {
    font-family: 'kozuka-gothic-pr6n', sans-serif;
}

.lp-questa {
    font-family: georgia, 'questa serif', serif;
}

.lp-wrapper {
    max-width: 64em;
}

.lp-w-284 {
    width: 284px;
}

.lp-mh-500 {
    min-height: 500px;
}
